{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'web.css' %}">
</head>

<body>
    <header class="registration-header">
        <div class="container">
            <div class="logo">
                <table>
                    <tr>
                        <td><img src={% static 'images/logo.png' %}></td>
                        <td><p>Cake 'N' Bake</p></td>
                    </tr>
                </table>
            </div>
        </div>


        <main>
            <section class="user-container login-section--display">
                <div class="login">
                    <div class="grid-two--column">
                        <div class="form-text">
                            <h2>Hello Friend</h2>
                            <p>Enter your personal details and start journey with us</p>
                            <a href="/cake/registration"><button class="registration-btn">Registration Here</button></a>
                        </div>
                        <div class="login-form">
                            <h2>Sign In</h2>
                            <form  method="POST"> 
                                {% csrf_token %}
                                <div class="input-field">
                                    <label for="username1">
                                        <input type="text" name="username1" id="username1" placeholder="Username" required>
                                    </label>
                                </div>
                                <div class="input-field">
                                    <label for="password1">
                                        {% comment %} {{form.Password}} {% endcomment %}
                                        <input type="password" name="password1" id="password1" placeholder="Password" required>
                                    </label>
                                </div>
                                {% comment %} <p>
                                    <a href="forgot.html">Forgot password</a>
                                </p> {% endcomment %}
                                <div class="input-field">
                                    <input type="submit" value="Login">
                                </div>
                                <ul>{{error_message}}</ul>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </header>
    <script type="text/javascript" src="{% static 'js/java/script.js' %}"></script>
</body>

</html>